#apiVersion: networking.k8s.io/v1beta1
#kind: Ingress
#metadata:
#  name: hello-kubernetes
#  namespace: kube-system
#  annotations:
#    alb.ingress.kubernetes.io/scheme: internet-facing
#    kubernetes.io/ingress.class: alb
#    external-dns.alpha.kubernetes.io/hostname: "www.devpie.io"
#    external-dns.alpha.kubernetes.io/target: "devpie.io"
#    traefik.ingress.kubernetes.io/router.pathmatcher: PathPrefix
#    traefik.ingress.kubernetes.io/router.entrypoints: web, websecure
#    traefik.ingress.kubernetes.io/router.tls: "true"
#spec:
#  rules:
#    - host: devpie.io
#      http:
#        paths:
#          - path: /
#            backend:
#              serviceName: hello-kubernetes
#              servicePort: 8080
#---
#kind: DaemonSet
#apiVersion: apps/v1
#metadata:
#  name: aws-load-balancer-controller
#  namespace: kube-system
#  labels:
#    k8s-app: traefik-ingress-lb
#spec:
#  selector:
#    matchLabels:
#      k8s-app: traefik-ingress-lb
#      name: traefik-ingress-lb
#  template:
#    metadata:
#      labels:
#        k8s-app: traefik-ingress-lb
#        name: traefik-ingress-lb
#    spec:
#      tolerations:
#        - effect: NoSchedule
#          operator: Exists
#      serviceAccountName: traefik-ingress-controller
#      terminationGracePeriodSeconds: 60
#      containers:
#        - image: traefik:2.4.8
#          name: traefik-ingress-lb
#          ports:
#            - name: http
#              containerPort: 80
#            - name: websecure
#              containerPort: 443
#            - name: admin
#              containerPort: 8080
#          securityContext:
#            capabilities:
#              drop:
#                - ALL
#              add:
#                - NET_BIND_SERVICE
#          args:
#            - --api.insecure=true
#            - --api.debug=true
#            - --api.dashboard=false
#            - --providers.kubernetesingress=true
#            - --providers.kubernetesingress.ingressendpoint.hostname=devpie.io
#            - --certificatesresolvers.myresolver.acme.tlschallenge
#            - --certificatesresolvers.myresolver.acme.email=ivorscott.c@gmail.com
#            - --certificatesresolvers.myresolver.acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory
#            - --certificatesresolvers.myresolver.acme.storage=acme.json
#            - --entrypoints.web.address=:80
#            # permanent redirecting of all requests on http (80) to https (443)
#            - --entrypoints.web.http.redirections.entryPoint.to=websecure
#            - --entrypoints.web.http.redirections.entryPoint.scheme=https
#            - --entrypoints.websecure.address=:443
#            - --log=true
#            - --log.level=DEBUG
#            - --accesslog=true
#---
#kind: Service
#apiVersion: v1
#metadata:
#  name: aws-load-balancer-controller
#  namespace: kube-system
#  annotations:
#    service.beta.kubernetes.io/aws-load-balancer-type: "nlb-ip"
#    service.beta.kubernetes.io/aws-load-balancer-proxy-protocol: "*"
#spec:
#  selector:
#    k8s-app: traefik-ingress-lb
#  type: LoadBalancer
#  ports:
#    - protocol: TCP
#      port: 80
#      name: web
#    - protocol: TCP
#      port: 443
#      name: websecure
#    - protocol: TCP
#      port: 8080
#      name: admin
#---
#kind: ClusterRole
#apiVersion: rbac.authorization.k8s.io/v1beta1
#metadata:
#  name: aws-load-balancer-controller-role
#  namespace: kube-system
#rules:
#  - apiGroups:
#      - ""
#    resources:
#      - services
#      - endpoints
#      - secrets
#    verbs:
#      - get
#      - list
#      - watch
#  - apiGroups:
#      - extensions
#      - networking.k8s.io
#    resources:
#      - ingresses
#      - ingressclasses
#    verbs:
#      - get
#      - list
#      - watch
#  - apiGroups:
#      - extensions
#    resources:
#      - ingresses/status
#    verbs:
#      - update
#---
#kind: ClusterRoleBinding
#apiVersion: rbac.authorization.k8s.io/v1beta1
#metadata:
#  name: aws-load-balancer-controller
#  namespace: kube-system
#roleRef:
#  apiGroup: rbac.authorization.k8s.io
#  kind: ClusterRole
#  name: aws-load-balancer-controller-role
#subjects:
#  - kind: ServiceAccount
#    name: aws-load-balancer-controller
#    namespace: kube-system